@import "../variables/variable";
@import "../mixins/mixin";
/*--error part--------------*/
#Error{
    width: 100%;
    height: 100vh;
    display: block;
    background: url(../images/error.png) no-repeat center/cover;
    display: grid;
    place-items: center;
    .heading{
        @include headline;
        .errorbtn{
            @include mainButton;
        }
    }
    
}