$para:        #0c266c;
$para1:       #d8d8d8;
$blue:        #4743c9;
$white:       #ffffff;
$border:      #777777;
$border1:     #bec8e5;
$box-shaddow: #6a69c240;
$section:     #f4f6ff;
$gray:        #e6e6fc;
$h2:          #0c266c;
$yellow:      #9acd32;
$footer:      #212529;
$red:         #ff0000;
$tweet:       #2BA5DA;
$green:       #0ba275;
$grnRgb:      #0ba2759d;
$yollo2:      #FBE5E5;
$iplate:      #FFA1C9;
$fressgren:   #CBE4DE;
$cadetblue:   #0E8388;